// new bar colour change
.d-tab-bar{
background-color: var(--tertiary);
}

// style for create a new topic button

button#newcase {
    float: right;
    max-width:none; /*remove max width*/
    width: auto; /*prevent other widths taking over*/
    height: auto;
    z-index: 1040; /*stays on top of other header*/
    position:relative;
    display:block;
    margin: 6px 9px;
    padding: 6px 12px;
    text-align: center;
    cursor: pointer;
    transition: all .25s;
}


/* Hide the original "+ New Topic" button */
    button#create-topic { 
        display: none;
    }
    /* Larger "Create" button on Desktop */
    button#create-new {
        margin-top:2px;
        font-size: 38px;
        height: 38px;
        width: 38px;
        line-height: 40PX;
        padding: 0;
        color: rgb(153, 153, 153);
        opacity: 0.699999988079071;
        background-color: transparent;
    }
    button#create-new:hover {
        
        color: rgb(40, 40, 40);    
        background-color: rgb(233,233,233);
        
    }
    
    /* Smaller "Create" button on Mobile */
    html.mobile-view.mobile-device button#create-new {
        height: 32px;
        width: 32px;
        margin: 3px;
    }


// --------------------
//
.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 6px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
 // background-color: var(--danger);
}

//*/


// css for tm widget

@import "common/foundation/variables";

.my-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary-high;
  h1 {
  padding: .5em;
  color: $secondary;
  margin: 0;
  }
}

//



.foobar {
  display: flex;
  justify-content: flex-end;
 //background: #039ddb;
  padding: .3em -10;
  margin-top: -30px;
  button {
    margin: .25em;
  }
}

.hello-world-banner {
    height: 125px;
    width: 100%;    
   // background: var(--quaternary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.hello-world {
    font-size: 4em;
    color: var(--secondary);
}


/// animation

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.content {
	position: relative;
}

.content h1 {
	color: #fff;
	font-size: 8em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h1:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #03a9f4;
}

.content h1:nth-child(2) {
	color: #03a9f4;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

