.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}


// css for tm widget

@import "common/foundation/variables";

.my-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary-high;
  h1 {
  padding: .5em;
  color: $secondary;
  margin: 0;
  }
}

//



.foobar {
  display: flex;
  justify-content: flex-end;
  background: #039ddb;
  padding: .3em -10;
  margin-top: -30px;
  button {
    margin: .25em;
  }
}

.hello-world-banner {
    height: 300px;
    width: 100%;    
    background: var(--quaternary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.hello-world {
    font-size: 4em;
    color: var(--secondary);
}
