.foobar {
  display: flex;
  justify-content: flex-end;
  background: var(--secondary-high);
  padding: .3em -10;
   margin-top: 15px;
  button {
    margin: .25em;
  }
}

.hello-world-banner {
    height: 300px;
    width: 100%;    
    background: var(--quaternary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.hello-world {
    font-size: 4em;
    color: var(--secondary);
}
